.team-header {
  text-align: center;
  margin-top: 20px;
}

.team-page-logo {
  width: 90px;
  margin-bottom: 10px;
}

.team-stats {
  background: var(--card-bg);
  width: 90%;
  margin: 20px auto;
  max-width: 480px;
  padding: 20px;
  border-radius: 10px;
}

.team-stats p {
  margin: 8px 0;
}
